#goals-page {
	padding: 80px var(--Spacing-System-spacing-xxl, 64px)
		var(--Spacing-System-spacing-xxl, 64px)
		var(--Spacing-System-spacing-xxl, 64px);
	margin-bottom: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 32px;

	&:has(.goal-list) {
		padding: var(--Spacing-System-spacing-l, 32px)
			var(--Spacing-System-spacing-xxl, 64px);
	}

	.card-start {
		width: min(100%, 644px);
		display: flex;
		flex-direction: column;
		align-items: center;

		.icon-start {
			margin-bottom: 32px;
		}

		h4 {
			color: var(--text-primary);
			font-family: var(--font-figtree);
			font-size: 20px;
			font-style: normal;
			font-weight: 500;
			line-height: 120%; /* 24px */
			margin-bottom: 16px;
			text-align: center;
		}

		.description {
			margin-bottom: 16px;
			color: var(--text-primary);
			text-align: center;
			font-family: var(--font-figtree);
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px; /* 171.429% */
		}

		.btn-create {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 8px;
		}

		.goal-list {
			display: flex;
			flex-direction: column;
			width: 100%;
			gap: 16px;
			.header-title {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;

				strong {
					color: var(--text-primary);
					font-family: var(--font-figtree);
					font-size: 20px;
					font-style: normal;
					font-weight: 500;
					line-height: 120%; /* 24px */
				}
			}

			.goal-item {
				padding: var(--Spacing-5, 16px) var(--Spacing-6, 24px)
					var(--Spacing-6, 24px) var(--Spacing-6, 24px);
				border-radius: var(--Corner-Radios-2, 8px);
				border: 1px solid var(--border-strong);
				background-color: var(--surface-primary);

				.item-header {
					width: 100%;
					display: flex;
					align-items: center;
					gap: 16px;

					.gray-icon {
						height: 32px;
						width: 32px;
						background-color: var(--surface-secondary);
						html[data-theme='dark'] & {
							background-color: var(--surface-tertiary);
						}
						border-radius: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
					}
					color: var(--text-primary);
					font-family: var(--font-figtree);
					font-size: 20px;
					font-style: normal;
					font-weight: 500;
					line-height: 120%; /* 24px */
					padding-bottom: 16px;
					border-bottom: 1px solid var(--border-subtle);
				}

				.item-content {
					margin-top: 32px;
					gap: 32px;
					display: grid;
					grid-template-columns: 164px 1fr 1fr;

					html[screen-format='tablet'] & {
						grid-template-columns: 1fr 1fr;
					}

					html[screen-format='mobile'] & {
						display: flex;
						flex-direction: column;
					}

					.percentage-value {
						height: 164px;
						width: 164px;
						border-radius: 100%;
						border: 12px solid var(--color-Blue-blue-300, #9fadc6);

						position: relative;
						svg {
							position: absolute;
							right: -13px;
							top: -13px;
							left: -13px;
							bottom: -13px;
						}

						label {
							position: absolute;
							inset: 0;
							display: flex;
							align-items: center;
							justify-content: center;
							color: var(--Color-Blue-blue-700, #2c3a53);
							html[data-theme='dark'] & {
								color: var(--Color-Blue-blue-300, #9fadc6);
							}
							font-family: var(--font-figtree);
							font-size: 36px;
						}
					}

					.column {
						display: flex;
						flex-direction: column;
						justify-content: center;

						.row {
							display: flex;
							flex-direction: column;
							margin-bottom: 16px;
							label {
								color: var(--text-secondary);
								font-family: var(--font-figtree);
								font-size: 14px;
								font-style: normal;
								font-weight: 500;
								line-height: 16px; /* 114.286% */
								margin-bottom: 8px;
							}

							.value {
								color: var(--text-primary);
								font-family: var(--font-figtree);
								font-size: 20px;
								font-style: normal;
								font-weight: 600;
								line-height: 120%; /* 24px */

								&.warning {
									color: var(--text-warning);
								}

								&.small {
									font-size: 16px;
								}
							}
						}
					}
				}
			}
		}
	}
}

.modal-content {
	&:has(.goal-dialog-content) {
		padding: 0 !important;
	}
}
