.default-card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: var(--surface-primary);
    border: 1px solid var(--border-subtle);
    border-radius: 8px;
    position: relative;
    width: var(--size);

    &:has(.header-title) {
        padding-top: 0 !important;
    }

    .header-title {
        padding: 16px 24px;
        border-bottom: 1px solid #5656561c;
        display: flex;
        align-items: center;

        h4 {
            color: var(--text-primary);

            font-size: 20px;
            font-style: normal;
            font-weight: 600;
        }

        .btn-close {
            margin-left: auto;
        }
    }
}

html[screen-format='tablet'] {
    .default-card {
        width: var(--tablet-size);
    }
}

html[screen-format='mobile'] {
    .default-card {
        width: var(--mobile-size);
    }
}
