.datatable-card {
	h5.datatable-title {
		font-size: 20px;
		font-style: normal;
		font-weight: 600;
		letter-spacing: 0.1px;
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: 12px;
		flex: 1;

		html[screen-format='mobile'] & {
			flex-direction: column;
		}

		.title-row {
			color: var(--text-primary);
			display: flex;
			align-items: center;
			gap: 12px;
		}

		.post-title-slot {
			margin-left: auto;
			display: flex;
			gap: 8px;
			align-items: center;
			padding-right: 12px;

			&::-webkit-scrollbar {
				height: 0px;
			}

			html[screen-format='mobile'] & {
				width: 100%;
				display: flex;
				margin-left: unset;
				padding-right: 0;

				.datatable-footer {
					width: 100%;
					justify-content: space-between;
				}
			}
		}
	}

	.post-datatable-slot {
		padding: 12px 24px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 12px;
	}
}

html[screen-format='mobile'],
html[screen-format='tablet'] {
	.datatable-card h5.datatable-title {
		flex-direction: column;

		.title-row {
			width: 100%;
		}
	}
}

html[data-theme='dark'] {
	.datatable-card {
		th,
		td {
			border-color: #5656561c;
		}
		tbody {
			tr {
				td {
					padding: 16px;
					color: var(--text-primary);

					font-size: 14px;
					font-weight: 400;
					background-color: var(--surface-primary);
					.datatable-cell-row {
						display: flex;
						align-items: center;
						gap: 12px;
					}
				}
			}
		}
	}
}
