.trend-value {
    border-radius: 100px;
    height: 20px;
    padding: 2px 6px;
    font-family: var(--font-figtree);
    font-size: var(--font-size);
    font-weight: 500;
    gap: 4px;
    display: flex;
    align-items: center;
    background: var(--badge-warning);
    color: var(--text-warning);

    svg {
        fill: var(--text-warning);
        transform: rotate(30deg);
    }

    &.positive {
        background-color: var(--badge-success);
        color: var(--text-success);
        svg {
            fill: var(--text-success);
            transform: rotate(-5deg);
        }
    }

    &.negative {
        background-color: var(--badge-danger);
        color: var(--text-danger);
        svg {
            fill: var(--text-danger);
            transform: rotate(55deg);
        }
    }

    &.transparent {
        background-color: transparent !important;
        padding: 0;
    }

    &.strong {
        font-weight: 600;
    }

    &.dark {
        color: var(--text-secondary);
        svg {
            fill: var(--text-secondary);
        }
    }
}
