.yes-or-no {
    color: var(--text-secondary);
    background-color: var(--border-subtle);
    html[data-theme='dark'] & {
        background-color: var(--surface-secondary);
    }
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    border-radius: 8px;
    gap: 8px;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
}
