label.switch {
    display: flex;
    width: 32px;
    height: 16px;
    justify-content: center;
    align-items: center;
    background-color: #e3e6ed;
    border-radius: 8px;
    position: relative;
    transition: 0.5s;
    cursor: pointer;

    &::before {
        position: absolute;
        left: 3px;
        top: 1px;
        height: 14px;
        width: 14px;
        border-radius: 100%;
        background-color: white;
        display: block;
        content: '';
    }

    &.checked {
        background-color: #00cc9b;

        &::before {
            left: unset;
            right: 3px;
            background-color: white;
        }
    }
}
