section.section-actives {
	display: flex;
	flex-direction: column;
	gap: 24px;

	.datatable-card {
		.datatable-footer {
			display: flex;
			gap: 16px;

			.datatable-footer__item {
				display: flex;
				flex-direction: column;
				gap: 8px;
				padding-right: 35px;

				strong {
					color: var(--text-secondary);
					margin-bottom: var(--Spacing-System-spacing-xxs);
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
				}

				div {
					color: var(--text-primary);
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
				}
			}
		}

		.post-title-slot {
			.modal-component {
				.default-card {
					.chart-header {
						.chart-header__title {
							margin-top: 0;
							text-align: center;
						}
					}
				}
			}
		}

		.post-title-btns {
			display: flex;
			gap: 12px;

			.btn-filter-datatable {
				border-radius: 4px;
				border: 0.5px solid var(--border-strong);
				background-color: transparent;
				padding: 8px;
				min-height: 24px;
				min-width: 24px;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				transition: 0.3s;
				&:hover {
					filter: brightness(0.9);
				}
			}
		}

		.fields-edit-list {
			display: flex;
			flex-direction: column;

			h6 {
				color: var(--text-primary);

				font-size: 16px;
				font-style: normal;
				font-weight: 600;
				line-height: 16px; /* 100% */
				margin-bottom: 24px;
			}

			.input-list {
				display: flex;
				flex-wrap: wrap;
				gap: 8px;

				.column-switch {
					display: flex;
					padding: 8px 12px;
					justify-content: center;
					align-items: center;
					gap: 8px;
					color: var(--text-secondary);
					background-color: var(--surface-secondary);
					border: 1px solid var(--border-strong);
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: 16px; /* 114.286% */
					border-radius: 100px;
					cursor: pointer;

					&.active {
						background-color: var(--chips-background-selected);
						color: var(--button-label-white);
					}
				}
			}
		}
	}
}
